{
  "plugins": [
    ["transform-es2015-modules-umd", { "loose": true }],
    "transform-es2015-block-scoping",
    "transform-es2015-parameters",
    "transform-es2015-arrow-functions"
  ],
  "env": {
    "test": {
      "sourceMap": "inline"
    }
  }
}
